/* font-family: 'Maven Pro', sans-serif;

font-family: 'Montserrat', sans-serif;

font-family: 'Nunito', sans-serif;

font-family: 'Open Sans', sans-serif;

font-family: 'Quattrocento', serif;

font-family: 'Sriracha', cursive; */

html {
  scroll-behavior: smooth;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    360deg,
    rgba(0, 37, 182, 1) 0%,
    rgba(0, 0, 0, 1) 99%
  );
}

body {
  margin: auto;
  font-family: "alliance", sans-serif;
  max-width: 375px;
  color: white;
}

p,
a {
  font-weight: 100;
}

p {
  margin: 0 30px;
}

h1 {
  font-size: 25px;
  font-weight: 200;
  margin: 30px;
}

@font-face {
  font-family: "alliance";
  font-style: 100;
  src: url("../fonts/alliance-regular.otf");
}

@font-face {
  font-family: "alliance";
  font-style: 200;
  src: url("../fonts/alliance-semibold.otf");
}

header img {
  width: 70px;
  margin: 15px 0 15px 0;
}

header .logo {
  display: flex;
  justify-content: center;
}

header a {
  display: flex;
  text-decoration: none;
  color: white;
  margin: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.products-rocket {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .products-button,
.rocket-launch {
  display: flex;
  flex-direction: row;
}

.container .products-button {
  display: flex;
  flex-direction: column;
}

.container .button-reseller {
  display: flex;
  flex-direction: row;
}

.card {
  height: 90px;
  width: 30px;
  background: rgb(0, 166, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 166, 255, 1) 0%,
    rgba(0, 54, 255, 1) 100%
  );

  padding: 10px 25px;
  border-radius: 10px;
}

.card img {
  background-size: contain;
}

.price-button {
  width: 40px;
  margin: 7px 20px 0 0;
}

.arrow-button {
  width: 20px;
  margin: 7px 0 0 0;
}

.card-background {
  background-color: white;
  margin: 70px 0 0 35px;
  padding: 10px;
  border-radius: 12px;
  width: 80px;
}

.rocket-launch {
  width: 50px;
  height: 550px;
  margin: 40px 0 0 18px;
}

.reseller-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.reseller-button img {
  width: 50px;
  margin: 0 0 70px 0;
}

.contact-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-button img {
  width: 50px;
  margin: 0 0 70px 0;
}

.reseller-title {
  margin: 70px 25px 30px 30px;
}

.earbuds {
  height: 160px;
}

.earbuds-paragraph {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  margin: 0 30px;
  border-radius: 20px;
}

.earbuds-price {
  height: 40px;
  margin: 43px 0 15px 0;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.earbuds-reseller {
  height: 40px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.launch {
  margin: 0 0 0 110px;
  height: 400px;
}

body {
  background-image: url(../img/etoile.svg);
  background-repeat: no-repeat;
}
